@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "tamtam";
  src: url("../fonts/tamtam.eot");
  src: url("../fonts/tamtam.eot?#iefix") format("embedded-opentype"), url("../fonts/tamtam.woff") format("woff"), url("../fonts/tamtam.ttf") format("truetype"), url("../fonts/tamtam.svg#tamtam") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "tamtam" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tamtam" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "a";
}

.icon-twitter:before {
  content: "b";
}

.icon-arrow-down-touch:before {
  content: "c";
}

.icon-arrow-right:before {
  content: "d";
}

.icon-arrow-left:before {
  content: "e";
}

.icon-check-icon:before {
  content: "f";
}

.icon-close:before {
  content: "g";
}

.icon-error:before {
  content: "h";
}

.icon-facebook:before {
  content: "i";
}

.icon-icons:before {
  content: "j";
}

.icon-instagram:before {
  content: "k";
}

.icon-logo:before {
  content: "l";
}

.icon-menu:before {
  content: "m";
}

.icon-mouse:before {
  content: "n";
}

.contact-container {
  width: 620px;
  margin: 0 auto;
}

.contact-container:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 767px) {
  .contact-container {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: url('../img/feed_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.content {
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 30px;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a,
button {
  transition: background-color 0.5s;
}

span.icon {
  transition: color 0.5s;
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 940px;
}

@media (max-width: 1024px) {
  .container {
    width: 620px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 300px;
  }
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  position: absolute;
  top: 8px;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 20px;
  right: 2px;
  height: 3px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -8px;
}

.c-hamburger span::after {
  bottom: -8px;
}

.c-hamburger--htx {
  background-color: #000000;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

header {
  background: #000000;
  height: 80px;
  width: 100%;
}

header .logo:before {
  color: #FFFFFF;
  font-size: 32px;
  display: block;
  margin-left: 30px;
  float: left;
  line-height: 80px;
  height: 32px;
}

header .mobile {
  display: none;
}

header nav {
  display: inline-block;
  margin-left: 40px;
}

header nav a {
  color: #8e8e8e;
  padding-right: 40px;
  line-height: 80px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.5s;
}

header nav a.v-link-active {
  color: #FFFFFF;
}

header nav a:hover {
  color: #fd5454;
}

@media (max-width: 767px) {
  header {
    height: 60px;
  }

  header .logo:before {
    font-size: 22px;
    float: none;
    text-align: center;
    line-height: 60px;
    margin: 0;
  }

  header .mobile {
    display: block;
  }

  header .mobile:hover {
    color: #fd5454;
  }

  header nav {
    display: none;
    z-index: 100;
    text-align: center;
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  header nav.is-active {
    display: block;
  }

  header nav a {
    display: block;
    width: 100%;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }
}

footer {
  width: 100%;
  background: #000000;
  clear: both;
  position: relative;
  z-index: 10;
  height: 100px;
  margin-top: -100px;
}

footer nav {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

footer nav a {
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  padding-left: 40px;
  text-decoration: none;
  line-height: 100px;
}

footer nav a:first-child {
  padding-left: 0;
}

footer nav a:hover {
  color: #fd5454;
}

footer .push {
  height: 100px;
}

h1.center {
  width: 100%;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 900;
  margin: 100px auto 40px;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h1.center {
    margin: 40px auto 20px;
    font-size: 20px;
  }
}

.form {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  position: relative;
  padding: 20px 10px;
  box-sizing: border-box;
}

.form:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.form .input-group {
  float: left;
  width: 295px;
  margin: 0 10px 10px 0;
  position: relative;
  box-sizing: border-box;
}

.form .input-group:nth-child(even) {
  margin: 0 0 10px 0;
}

.form .input-group input {
  background: #FFFFFF;
  width: 100%;
  color: #000000;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 12px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.form .input-group.full {
  width: 100%;
}

.form .input-group .error {
  background: #555d60;
  color: #FFFFFF;
  font-size: 15px;
  width: 100%;
  padding: 9px 20px;
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.form .input-group .error:before {
  content: "\A";
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #555d60;
  position: absolute;
  left: 20px;
}

.form .input-group .success {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #7bdb4c;
}

.form textarea {
  background: #FFFFFF;
  color: #000000;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  display: block;
  resize: none;
  box-sizing: border-box;
}

.global-message {
  font-size: 18px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  box-sizing: border-box;
}

.global-message .icon {
  color: #FFFFFF;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding-top: 8px;
  text-align: center;
  box-sizing: border-box;
}

.btn.contact {
  display: block;
  position: relative;
  margin: 40px auto 0;
  background: #ff5454;
  color: #FFFFFF;
  font-size: 15px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-radius: 40px;
  transition: background-color 0.5s;
}

.btn.contact:hover {
  background: #ff7676;
}

@media (max-width: 767px) {
  .form .input-group {
    width: 100%;
  }

  .global-message {
    padding-left: 30px;
  }

  .global-message .icon {
    display: block;
    float: left;
  }
}

section.content-section {
  padding: 80px 42px;
  text-align: center;
  background: #FFFFFF;
}

@media (max-width: 767px) {
  section.content-section {
    padding: 60px 10px;
  }
}

section.content-section h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

section.content-section p {
  font-size: 24px;
  line-height: 33px;
}

@media (max-width: 1024px) {
  section.content-section p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  section.content-section p {
    font-size: 15px;
    line-height: 19px;
  }
}

.instagram {
  background: url('../img/feed_bg.jpg');
}

.instagram:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.instagram h2 {
  line-height: 40px;
  color: #76797f;
  font-size: 30px;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
}

.instagram h3 {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.instagram .items {
  padding: 40px 42px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.instagram .items .item {
  width: 300px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-page-break: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.instagram .items .item:nth-child(3) {
  margin-right: 0;
}

.instagram .items .item img {
  width: 100%;
  display: block;
}

.instagram .items .item .content {
  background: #FFFFFF;
  padding: 15px;
  box-sizing: border-box;
}

.instagram .items .item .content p {
  line-height: 21px;
  font-size: 15px;
  color: #76797f;
}

@media (max-width: 1024px) {
  .instagram .items {
    padding: 40px 42px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (max-width: 767px) {
  .instagram h2,
  .instagram h3 {
    font-size: 20px;
  }

  .instagram h2 {
    padding-top: 60px;
  }

  .instagram .items {
    padding: 30px 10px;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
  }
}

.slider-container {
  position: relative;
}

.slider-container .scroll-down-controls a.scroll-down {
  display: block;
  position: absolute;
  bottom: 40px;
  width: 54px;
  height: 54px;
  left: 50%;
  margin-left: -26px;
  background: #FFFFFF;
  border-radius: 50%;
  text-decoration: none;
}

@media (max-width: 767px) {
  .slider-container .scroll-down-controls a.scroll-down {
    width: 40px;
    height: 40px;
    margin-left: -20px;
  }
}

.slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down-touch {
  display: none;
}

@media (max-width: 767px) {
  .slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down-touch {
    display: inline;
  }
}

@media (max-width: 767px) {
  .slider-container .scroll-down-controls a.scroll-down span.icon-mouse,
  .slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down {
    display: none;
  }
}

.slider-container .scroll-down-controls a.scroll-down span.icon-mouse,
.slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down-touch {
  font-size: 34px;
  line-height: 61px;
  color: #000000;
  padding: 0 10px;
}

.slider-container .scroll-down-controls a.scroll-down span.icon-mouse:hover,
.slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down-touch:hover {
  color: #fd5454;
}

@media (max-width: 767px) {
  .slider-container .scroll-down-controls a.scroll-down span.icon-mouse,
  .slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down-touch {
    font-size: 17px;
    line-height: 48px;
    padding: 0 12px;
  }
}

.slider-container .scroll-down-controls a.scroll-down span.icon-arrow-down {
  color: #FFFFFF;
  padding: 0 19px;
}

.slider-container .homeSlider {
  height: 700px;
}

@media (max-width: 767px) {
  .slider-container .homeSlider {
    height: 508px;
  }
}

.slider-container .homeSlider .slide {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  position: relative;
}

.slider-container .homeSlider .slide .info {
  position: absolute;
  width: 100%;
  height: 140px;
  top: 50%;
  margin-top: -70px;
  text-align: center;
  z-index: 111;
}

.slider-container .homeSlider .slide .info h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #000000;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .slider-container .homeSlider .slide .info h3 {
    font-size: 30px;
  }
}

.slider-container .homeSlider .slide .info a {
  font-size: 15px;
  color: #FFFFFF;
  background: #000000;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-top: 40px;
  padding: 0 42px;
  line-height: 40px;
  height: 40px;
  border-radius: 40px;
}

@media (max-width: 767px) {
  .slider-container .homeSlider .slide .info a {
    margin-top: 30px;
  }
}

.slider-container .homeSlider .slide .info a:hover {
  background: #ff7676;
}

.slider-container .homeSlider .slide img {
  height: 700px;
  width: 100%;
}

@media (max-width: 1024px) {
  .slider-container .homeSlider .slide img {
    width: auto;
  }
}

@media (max-width: 767px) {
  .slider-container .homeSlider .slide img {
    height: 700px;
  }
}

.slider-container .homeSlider button {
  position: absolute;
  top: 50%;
  margin-top: 42px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 46px;
  background: #000000;
  color: #FFFFFF;
  z-index: 111;
  cursor: pointer;
}

@media (max-width: 767px) {
  .slider-container .homeSlider button {
    margin-top: -5px;
  }
}

.slider-container .homeSlider button.slick-next {
  right: 50%;
  margin-right: -135px;
}

.slider-container .homeSlider button.slick-next span {
  left: 1px;
}

.slider-container .homeSlider button.slick-prev {
  left: 50%;
  margin-left: -135px;
}

.slider-container .homeSlider button.slick-prev span {
  left: -1px;
}

.slider-container .homeSlider button:hover {
  background: #ff7676;
}

.slider-container .slick-list,
.slider-container .slick-track {
  height: 100%;
}

.slider-container .slick-prev {
  left: 0;
}

.slider-container .slick-next {
  right: 0;
}