footer {
	width:100%;
	background:@black;
	height:100px;
	position: absolute;
	bottom:0;
	nav {
		position:relative;
		margin:0 auto;
		text-align:center;
		a {
			color:@white;
			font-size:20px;
			text-align:center;
			padding-left:40px;
			text-decoration:none;
			line-height:100px;
			&:first-child {
				padding-left:0;
			}
			&:hover {
				color:@hoverColor;
			}
		}
	}
}